@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Montserrat+Subrayada:400,700|Montserrat:400,700);

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
h1, h2, h3, h4 {
  margin: 0;
}
/*nav*/
header {
  background: #1c1c1c;
  padding: 15px 20px;
}
header:before,
header:after {
  content: "";
  display: table;
}
header:after {
  clear: both;
}
header {
    zoom: 1;
}
header img {
  width: 21%;
}
.logo {
    float: left;
}

.to-nav {
  float: right;
  color: #fff;
  background: #4e4e4e;
  text-decoration: none;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  height: 22px;
  margin-top: 7px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.to-nav:hover,
.to-nav:focus {
    color: #1c1c1c;
    background: #ccc;
}
/******primary nav bottom********/
#primary-nav ul {
  margin-top: 0;
    list-style: none;
    background: #1c1c1c;
    padding: 5px 0;
}
#primary-nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #383838;
}
#primary-nav li:last-child a {
    border-bottom: none;
}
#primary-nav li a:hover,
#primary-nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
/*********masthead********/
body {
  background-color: #F2F2F2;
}
/*********mastehead*****/
.masthead {
  height: 30vh;
  background-image: url(../img/masthead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.masthead h1 {
  margin: 0;
  padding-top: 23vh;
  font-size: 8vw;
  color: #471330;
  text-shadow: 3px 4px 3px #8A8870;
  text-align: right;
  padding-right: 2%;
  font-family: 'Montserrat Subrayada', sans-serif;
}
/********content******/
.main-content {
  font-size: 1.1em;
  margin: 4% 3% 3% 3%;
  font-family: 'Roboto Condensed', sans-serif;
}
.main-content h2 {
  font-size: 1.8em;
  font-family: 'Montserrat', sans-serif;
}
img {
  width: 90%;
  margin-left: 5%;
}
.learn {
  text-align: right;
  font-size: 1.4em;
  color: #750B45;
}
.learn:hover {
  color: #8A8870;
}
.intro {
  padding: 0 2% 0 2%;
  border-left: 6px solid #750B45;
}
.intro p:first-of-type {
  display: none;
}
.intro h4 {
  color: #8A8870;
}
.highlight-one-image, .highlight-two-image {
  margin-bottom: 4%;
}
.highlight-one-image img {
  width: 90%;
  margin-left: 5%;
}
.highlight-one-text, .highlight-two-text {
  border-left: 6px solid black;
  padding: 0 2% 0 2%;
}
/****************footer*/
footer {
  padding-top: 2%;
  padding-bottom: 10%;
  height: 150px;
  text-align: center;
  background-color: #dcdbda;
  font-size: .8em;
  font-family: 'Roboto Condensed', sans-serif;
}
footer img {
  margin: 0;
  padding-top: 2%;
  width: 20%;
}
form {
  padding-top: 2%;
}
.button:hover {
  background-color: #8A8870;
}
/************************************queries****************************/
@media screen and (min-width: 768px) {
  /**************nav***********/
  header .to-nav {
    display: none;
  }
  #primary-nav .top {
    display: none;
  }
  .container {
    position: relative;
  }
  #primary-nav {
    position: absolute;
    top: 11px;
    right: 10px;
    background: none;
  }

  #primary-nav li {
    display: inline;
  }
  #primary-nav li a {
    float: right;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .masthead h1 {
    font-size: 6vw;
  }
  .intro p:first-of-type {
    display: block;
  }
  .highlight-one:before, .highlight-one:after, .highlight-two:before, .highlight-two:after {
    content: "";
    display: block;
  }
  .highlight-one:after, .highlight-two:after {
    clear: both;
  }
  .highlight-one {
    padding-top: 10px;
    margin-bottom: 5%;
  }
  .highlight-one-image img {
    width: 50%;
    margin: 0;
    float: left;
    border-right: 6px solid black;
    padding-right: 3%;
  }
  .highlight-one-text {
    border: none;
    width: 50%;
    float: right;
    font-size: .9em;
  }
  .highlight-two {
    margin-bottom: 10%;
  }
  .highlight-two-image img {
    float: right;
    width: 50%;
    margin: 0;
    border-left: 6px solid black;
    padding-left: 3%;
  }
  .highlight-two-text {
    float: left;
    border: none;
    width: 50%;
    font-size: .9em;
  }
  }
@media screen and (min-width: 849px) {
  footer form {
    text-align: left;
    display: inline;
    padding-right: 2%;
  }
  footer img {
    margin: 0;
    width: 15%;
  }
}
/************************************queries****************************/
@media screen and (min-width: 1400px) {
  header {
    background: #1c1c1c;
    padding: 30px 20px;
  }
  #primary-nav li a {
    padding: 8px 20px 10px 20px;;
    height: 4.5em;
    border: 15px solid #1c1c1c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
  .masthead {
    position: relative;
    height: 40vh;
  }
  .masthead h1 {
    position: absolute;
    top: 10%;
    left: 45%;
  }
  .main-content {
    width: 70vw;
    margin: 5vh 15vw 0 15vw;
  }
}

/*@media screen and (min-width: 870px) {
  .masthead h1 {
    padding-top: 20vh;
  }


}*/
